body {
  background-color: #e8ecfa;
  font-size: 18px;
}
.image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#text-mock{
  font-size: 18px;
  font-family: sans-serif lato;
  text-align: justify;
}
text-fonts {
  text-align: justify;
  
}
#timer {
  background-color: mediumseagreen;
  min-height: 50px;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}
#paraContainer{
  padding: 20px;
}

.navbar-typing {
  background-color: #3359DE;
  min-height: 70px;
  border-color: #3359DE;
  box-shadow: 2px 2px 3px #666666;
  border-radius: 0px;
} 
.white {
  color: #FFFFFF;
}
#textArea{
  border-radius:5px;
  position:relative;
  margin:20px auto auto auto;
  padding:20px;
  display:table;
  background-color:#fff;
  font-size: 16px;
  font-family: sans-serif lato;
  text-align: center;
}

#type-area {
  background-color: #ffffff;
  min-height: 450px;
  padding: 10px;
}
.intro {
  text-align: center;
}
.small-container {
  margin: 30px auto;
  width: 25%;
}
.jumbotron {
  text-align: center;
}
.center {
  text-align: center;
}
.scores {
  text-align: center;
}
.results {
  font-size: 24px;
}
.caption {
  text-align: center;
  font-size: 12px;
}
p {
  font-size: 14px;
}
#takeTest {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#test-button {
    margin-top: 30px;
    margin-bottom: 10px;
}
#testArea {
  margin-top: 20px;
  width: 100%;
}
#paraContainer {
  float: left;
  overflow: hidden;
}
#testArea {
  float: left;
  overflow: hidden;
}
.hidden{
  visibility: hidden;
  display: none;
}
.scores {
  margin-top: 10px;
}

#wrapper {
  width: 100%;
}

#authenticate {
  border-radius:5px;
  border: 2px solid #999999;
  position:relative;
  margin:20px auto auto auto;
  padding:20px;
  display:table;
  max-width: 500px;
  background-color:#fff;
  font-size: 16px;
  font-family: sans-serif lato;
  text-align: center;
}
.button-box {
  clear: both;
}
 .tweet-button {
   float: left;
 }

.quotes-button {
  float: right;
}
.footer-text {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #efefef;*/
  text-align: center;
}
footer{
  background-color: #3359DE;
  color: #FFFFFF;
  box-shadow: 2px -2px 3px #666666;
  /*margin-bottom: 10px;*/
}
